[submodule "polling_station"]
	path = polling_station
	url = git@github.com:Fakesum/polling-station.git
	branch = main

[submodule "settings"]
	path = settings
	url = git@github.com:Fakesum/toml-settings.git
	branch = main
