[submodule "polling_station"]
	path = polling_station
	url = git@github.com:Fakesum/polling-station.git
	branch = main

[submodule "tomlsettings"]
	path = tomlsettings
	url = git@github.com:Fakesum/toml-settings.git
	branch = main

[submodule "gui"]
	path = gui
	url = git@github.com:Fakesum/flask2gui.git
	branch = main

[submodule "uc_spider"]
	path = uc_spider
	url = git@github.com:Fakesum/uc_spider.git
	branch = main